<a href="javascript:void(0)" class="sg_sidebar_button"><i class="icon" data-icon="menu"></i></a>
<div class="sg_sidebar">
  <a href="{{ site.baseurl }}/index.html" class="logo">
    <div class="icon"><img src="{{ site.baseurl }}/styleguide/branding/png/styleguide-64x64.png"></div>
    <div class="title">{{ site.sg_title }}</div>
  </a>

  <a href="https://nats85.github.io/docs/"{% if page.url == '/' %} class="active"{% endif %}>Home</a></li>
  <ul>
    <li><a href="{{ site.baseurl }}/index.html"{% if page.url == '/' %} class="active"{% endif %}>Introducción</a></li>
  </ul>

  {% assign instalacion = site.docs | where: 'type', 'prerrequisitos' | sort: 'url' %}
  <div class="group">
    <div class="group_title">Prerrequisitos</div>
    <ul>{% for doc in prerrequisitos %}
      <li><a href="{{ site.baseurl }}{{ doc.url }}"{% if doc.url == page.url %} class="active"{% endif %}>{{ doc.title }}</a></li>
    {% endfor %}</ul>
  </div>

  {% assign configuracion = site.docs | where: 'type', 'instalacion_configuración' | sort: 'url' %}
  <div class="group">
    <div class="group_title">Instalacion y Configuracion</div>
    <ul>{% for doc in instalacion_configuración %}
      <li><a href="{{ site.baseurl }}{{ doc.url }}"{% if doc.url == page.url %} class="active"{% endif %}>{{ doc.title }}</a></li>
    {% endfor %}</ul>
  </div>

  {% assign configuracion = site.docs | where: 'type', 'uso' | sort: 'url' %}
  <div class="group">
    <div class="group_title">Uso</div>
    <ul>{% for doc in uso %}
      <li><a href="{{ site.baseurl }}{{ doc.url }}"{% if doc.url == page.url %} class="active"{% endif %}>{{ doc.title }}</a></li>
    {% endfor %}</ul>
  </div>

  {% assign configuracion = site.docs | where: 'type', 'video' | sort: 'url' %}
  <div class="group">
    <div class="group_title">Emergency Report</div>
    <ul>{% for doc in video %}
      <li><a href="{{ site.baseurl }}{{ doc.url }}"{% if doc.url == page.url %} class="active"{% endif %}>{{ doc.title }}</a></li>
    {% endfor %}</ul>
  </div>


  {% assign samples = site.docs | where: 'type', 'sample' | sort: 'url' %}
  <ul>{% for doc in samples %}
    <li><a href="{{ site.baseurl }}{{ doc.url }}"{% if doc.url == page.url %} class="active"{% endif %}>{{ doc.title }}</a></li>
  {% endfor %}</ul>
</div>
